# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
env/
venv/

# Data & models
data/raw/
data/*.csv
models/*.pt
models/*.pth

# Streamlit cache
.streamlit/

# ignore media
*.mp4
*.webm
*.mov
*.zip

# ignore temp files
*.pdf
*.aux
*.log
*.out
*.json

# ignore test images
test_imgs/

# ignore model weights
models/*.pt

# ignore latex build
build/

